html {
  background-color: #2b202c;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "proxima-nova",sans-serif;
  color: #48354A;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color:inherit;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  line-height: 40px;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.logo-container {
  flex: 1;
  padding-left: 20px;
  margin-left: 10px;
  height:43px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./assets/stamp-detail-logo.png");
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.logo-sports, .logo-passport {
  font-size: 26px;
}

.logo-sports {
  font-weight: 700;
}

.logo-passport {
  font-weight: 400;
  padding-left: 7px;
}

.header-nav-button {
  padding: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-small-text {
  margin-left: 20px;
  font-weight: 300;
  font-size: 12px;
}

.new-york-life-logo {
  width: 40px;
  margin-left: 20px;
}

.header-nav-button:last-child {
  border-left: thin solid gray;
}

.hero-row {
  background-size: cover;
  background-position: 50% 70%;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer {

}

.footer-hero {
  background-image: url("./assets/footer-image.png");
  background-size: cover;
  background-position: 50% 70%;
  height: 476px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 50px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #48354A;
  color: white;
}

.copyright {
  flex: 1;
  padding: 10;
}

.footer-nav-button {
  padding: 10;
}

.hero-icon {
  align-self: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-top: 40px;
}

.sign-up-button {
  background: rgba(255, 255, 255, .2);
  border: thin solid #48354A;
  border-radius: 50px;
  padding: 20px;
  width: 260px;
  align-self: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.search-button-container {
  border-radius: 50px;
  background-color: white;
  margin-top: 10px;
  width: 400px;
  height: 60px;
  padding-left: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.search-button-text {
  border: none;
  height: 100%;
  font-size: 18px;
  letter-spacing: 1px;
  flex: 1;
  text-transform: uppercase;
  outline: none;
}

.search-button {
  background-color: #48354A;
  width: 70px;
  height: 70px;
  border: none;
}

#login-icon {
  margin-left: 5px;
}

#main-hero {
  background-image: url("./assets/hero-image.png");
  height: 660px;
}

#main-hero > h2 {
  margin-top: 50px;
  margin-bottom: 90px;
}

#feature-hero-1 {
  background-image: url("./assets/feature-hero-1.png");
  padding-left: 30%;
  padding-right: 5%;
}

#feature-hero-1 > h2 {
  margin-left: 15%;
  margin-right: 15%;
}

#feature-hero-2 {
  background-image: url("./assets/feature-hero-2.png");
  padding-right: 40%;
  padding-left: 5%;
}

#feature-hero-3 {
  background-image: url("./assets/feature-hero-3.png");
  padding-left: 50%;
  padding-right: 5%;
}


#feature-hero-3 > h2 {
  margin-left: 15%;
  margin-right: 15%;
}

#feature-hero-4 {
  background-image: url("./assets/feature-hero-4.png");
  padding-right: 40%;
  padding-left: 5%;
  text-align: left;
  justify-content: flex-start;
}
